.header {
  height: 55px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #bc986a;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
}

.nav {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .header {
    left: 10px;
  }
  .nav {
    font-size: 20px;
  }
}

.head-item {
  padding-left: 10px;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 1px;
  transition: color 0.3s;
}

.head-item:hover {
  color: white;
  opacity: 0.7;
}

.head-item:active {
  color: white;
}
