.introduction-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.profile-pic {
  height: 30%;
  border-radius: 50%;
  margin-right: 7%;
  margin-left: 16%;
}

.about-header {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-below,
.about {
  width: 77%;
  font-size: 20px;
}

.about-below {
  padding-top: 5px;
}
